@import "tailwindcss";

@theme {
  --font-display: "Montserrat", sans-serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  background-color: #09090B;
  color: #FAFAFA;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #09090B;
  color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}

/* Custom Utilities for your O+X branding */
.font-display {
  font-family: var(--font-display);
}